# ignore everything
/*

# include only these folders
!.config/
!.local/
!.scripts/
!.vim/
!.yadm/

# include only these files
!.Xdefaults
!.Xresources
!.bash_logout
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.inputrc
!.minttyrc
!.profile
!.tmux.conf
!.xinitrc
!.zshenv

!readme.md
