$include /etc/inputrc
set bell-style none
set completion-ignore-case on
set completion-query-items 40
set show-all-if-ambiguous on

set visible-stats off
set mark-directories on
set mark-symlinked-directories on

set editing-mode vi
$if mode=vi
    set keymap vi-command
    Control-l: clear-screen

    set keymap vi-insert
    Control-l: clear-screen
$endif

