! ------------------------------------------------------------------------------
! General settings
! ------------------------------------------------------------------------------

URxvt*iso14755:         false
URxvt*iso14755_52:      false
URxvt*meta8:            false
URxvt*metaSendsEscape:  true
URxvt*saveline:         15000
URxvt*termName:         xterm-256color
URxvt*urgentOnBell:     false
URxvt*visualBell:       false

! perl extensions
URxvt*perl-ext-common:  default,clipboard,url-select,keyboard-select,resize-font

! ------------------------------------------------------------------------------
! Appearance settings
! ------------------------------------------------------------------------------

URxvt*cursorBlink:          false
URxvt*depth:                32
URxvt*externalBorder:       0
URxvt*internalBorder:       0
URxvt*scrollBar:            false
URxvt*scrollBar_floating:   false
URxvt*scrollBar_right:      false
URxvt*scrollTtyKeypress:    true
URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true

#include ".config/xrdb/colors/arc"
#include ".config/xrdb/fonts/monospace"

! ------------------------------------------------------------------------------
! Macro and clipboard settings
! ------------------------------------------------------------------------------

URxvt*copyCommand:          xclip -i -selection clipboard
URxvt*pasteCommand:         xclip -o -selection clipboard
URxvt*keysym.M-c:           perl:clipboard:copy
URxvt*keysym.m-v:           perl:clipboard:paste
URxvt*keysym.M-C-v:         perl:clipboard:paste_escaped
URxvt*keysym.M-Escape:      perl:keyboard-select:activate
URxvt*keysym.M-s:           perl:keyboard-select:search
URxvt*keysym.M-u:           perl:url-select:select_next
URxvt*resize-font.smaller:  C-Down
URxvt*resize-font.bigger:   C-Up
URxvt*urlLauncher:          firefox
URxvt*underlineURLs:        true
URxvt*urlButton:            1
URxvt*geometry:             90x30

! ------------------------------------------------------------------------------
! Tabs settings
! ------------------------------------------------------------------------------

URxvt*tabbed.tabbar-fg:         4
URxvt*tabbed.tabbar-bg:         16
URxvt*tabbed.tab-fg:            15
URxvt*tabbed.tab-bg:            4
URxvt*buffered:                 false
URxvt*keysym.Control-Shift-C:   perl:clipboard:copy
URxvt*keysym.Control-Shift-V:   perl:clipboard:paste

! ------------------------------------------------------------------------------
! Rofi settings
! ------------------------------------------------------------------------------

rofi.modi: window,drun,run
rofi.case-sensitive: false
rofi.columns: 1
rofi.font: Inconsolata 24
rofi.fuzzy: true
rofi.hide-scrollbar: true
rofi.lines: 8
rofi.localtion: 0
rofi.opacity: 100
rofi.padding: 20
rofi.sidebar-mode: true
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e "{ssh-client} {host}"
rofi.terminal: urxvt
rofi.width: 50
